/* YOUR CUSTOM STYLES */

@font-face{
    font-family: "Mesquite std";
    src: url("fonts/MesquiteStd.otf");
}


.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* YOUR CUSTOM STYLES */

html,
body,
.view {
    height: 100%;
}

.view {
    background: url("http://www.curtamais.com.br/uploads/midias/ace40e05a1331a9c9fe0e8e567db82fd.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-center {
    color: #fff;
}