<div class="container" style="padding: 2%;">
    <div class="row">
        <div class="table responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-dark">
                        <th class="text-center align-middle" ng-click="previous()"><i class="fa fa-chevron-left fa-2x text-light " aria-hidden="true"></i></th>
                        <th colspan="5" class="text-center text-light"><span>{{month.format("MMMM, YYYY")}}</span></th>
                        <th class="text-center align-middle" ng-click="next()"><i class="fa fa-chevron-right fa-2x text-light " aria-hidden="true"></i></th>
                    </tr>
                    <tr class="bg-secondary">
                        <th class="text-center">Dom</th>
                        <th class="text-center">Seg</th>
                        <th class="text-center">Ter</th>
                        <th class="text-center">Qua</th>
                        <th class="text-center">Qui</th>
                        <th class="text-center">Sex</th>
                        <th class="text-center">Sáb</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="week in weeks">
                        <th class="text-center align-middle" ng-class="{ 'bg-success text-light': day.isToday, 'text-secondary': !day.isCurrentMonth,  'bg-light': day.date.isSame(selected) }" ng-repeat="day in week.days" ng-click="select(day)" data-toggle="modal" data-target="#simpleModal">
                            <div>
                                <span>{{day.number}}</span>
                            </div>
                            <div>
                                <i class="fa fa-medkit" aria-hidden="true"></i>
                                : 1
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="simpleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="exampleModalLabel">Plantões</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Médico: Dr. Fulano</li>
                    <li>Horário: 07:00 a 19:00</li>
                </ul>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-primary">Adicionar plantão</button>                
            </div>
        </div>
    </div>
</div>